<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #0077b6;">
  <div class="container">
    <a class="navbar-brand" href="/products"><i class="fas fa-shopping-basket" style="margin-right: 10px;font-size: 1.7rem;"></i>Shopping Cart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>
        <%if(currentUser && currentUser.role === 'seller'){%>
        <li class="nav-item">
          <a class="nav-link" href="/products/new" tabindex="-1" aria-disabled="true">New</a>
        </li>
        <%}%>
      </ul>
      <div class="navbar-nav ml-auto">

        <%if(!currentUser){%>
          <a href="/login" class="nav-link">Login</a> 
        <%} else{%>
          <a href="#" class="nav-link text-capitalize">Hello <%=currentUser.username%></i> 
            <a href="/user/cart" class="nav-link"><i class="fas fa-shopping-cart"></i> 
            <sup><span class="badge bg-danger"><%=currentUser.cart.length%></span></sup> 
          </a>
          <a href="/logout" class="nav-link">Logout</a>
        <%}%>

              
      </div>
      
    </div>
  </div>
</nav>