<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hellooo from app.ejs</h1>
    <h2> <%= 12+5+8 %> </h2>

    <% if(false){ %>
        <h1>hello</h1>
    <% }else{ %>
        <h1>byee</h1>
    <% } %>

</body>
</html>