*{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: monospace;
    color: orangered;
}


body{
    width:100vw;
    height:100vh;
    background-color: lightblue;
}

.container{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr 5fr 1fr;

    grid-template-areas:    "header header header" 
                            "nav-1 main nav-2" 
                            "nav-1 main nav-3" 
                            "footer footer footer" ;


}

.header{
    background-color: darkcyan;
    /* grid-column-start: 1 ;
    grid-column-end: 4 ; */
    /* grid-column: 1 / 4 ; */
    grid-area: header ;
}
.nav-1{
    background-color: blueviolet;
    /* grid-column: 1 / 2;
    grid-row: 2 / 4; */
    grid-area: nav-1 ;
}
.nav-2{
    background-color: darkgreen;
    /* grid-row: 2 / 3;
    grid-column: 3 / 4; */
    grid-area: nav-2 ;
}
.nav-3{
    background-color: darkkhaki;
    /* grid-row: 3 / 4;
    grid-column: 3 / 4; */
    grid-area: nav-3 ;
}
.main{
    background-color: peru;
    /* grid-row: 2 / 4;
    grid-column: 2 / 3; */
    grid-area: main ;
}
.footer{
    background-color: turquoise;
    /* grid-column: 1 / 4; */
    grid-area: footer ;
}


