
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: rgb(32,33,36);
}


.container{
    width: 360px;
    height: 90vh;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(186, 183, 183);
    border-radius:  15px ;
    padding: 10px;
}

.button-grid{
    flex-grow: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

input{
    flex-grow: 1;
    background-color: rgb(32,33,36);
    color: white;
    text-align: right;
    font-size: 54px;
    outline: none;
    border: 0;
    padding: 0px 16px;
    border-radius:  15px ;
}


button{
    border-radius: 50% ;
    width: 75%;
    height: 90%;
    border: 0;
    font-size: 24px;
    cursor: pointer;
    background-color: #505050;
    color: white;
    place-self: center;
}


.grey-button{
    background-color: rgb(183, 178, 178);
    color: black;
}

.yellow-btn{
    background-color: rgb(255,158,0);
}

.zero{
    width: 88%;
    grid-column: span 2;
    border-radius: 80px ;
    /* text-align: left; */
    /* padding-left: 30px; */
}















