*{
    padding: 0;
    margin: 0;
    /* background-color: lightslategray; */
}



div{
    height: 70vh;
    width: 60vw;
    /* background-color: blue; */
    margin: 20px auto;
    border: 2px solid red;
}

h1{
    color: chartreuse;
}



/* @media print and (width:700px){
    h1{
        color: rgb(255, 0, 230);
    }
} */

/* @media screen and (max-width:700px){
    div , h1{
        color: rgb(255, 0, 230);
        border: 2px solid orange;
    }
} */

/* @media screen and (min-width:700px){
    div , h1{
        color: rgb(255, 0, 230);
        border: 2px solid orange;
    }
} */


/* @media screen and (orientation: landscape){

    h1{
        font-size: 100px;
    }
}

@media screen and (orientation: portrait){

    h1{
        font-size: 100px;
        color: pink;
    }
} */



@media screen  and (max-width:700px) {
    h1{
        color: purple;
    }
}

@media screen  and (max-width:1000px) {
    
    h1{
        color: red;
    }
}


