.box{
    width: 100px;
    height: 100px;
    background-color: rgb(233, 147, 35);
}

.box:hover{
    animation-name: something;
    animation-duration: 2s;
    /* animation-iteration-count: infinite; */
    animation-timing-function: linear;
    animation-delay: 1s;
    /* animation-direction : reverse; */
    /* animation-direction : alternate; */
    /* animation-direction : alternate-reverse; */
    /* animation-fill-mode: forwards; */
    /* animation-fill-mode: backwards; */
}

/* ----------- way-1 -------- */
/* @keyframes something {
    from{
        height: 100px;
    }
    to{
        height: 400px;
    }
} */

/* ----------- way-2 -------- */

@keyframes something {
    0%{
        height: 100px;
        background-color: brown;

    }
    /* 25%{
        height: 300px;
        background-color: greenyellow;

    }
    50%{
        height: 500px;
        background-color: blue;
    }
    75%{
        height: 700px;
        background-color: darkorchid;
    } */
    100%{
        height: 900px;
        background-color: gold;
    }
    
}


