*{
    padding: 0;
    margin: 0;
}

.parent{
    height: 100vh;
    border: 5px solid green;
    background-color: antiquewhite;
    display: flex; /*parent property*/

    flex-direction: row; /* main axis */
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */

    justify-content: flex-start; 
    
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-between; */

    /* align-items: center; */
    /* align-items:flex-end; */
    /* align-items:flex-start; */

    /* flex-wrap: nowrap;  */
    /* flex-wrap: wrap;  */
    
    /* align-content: normal;
    align-content: flex-start;
    align-content: flex-end; */

    /* gap: 20px; */

}

.item{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    padding: 24px;
    font-size: 30px;
    /* display: inline-block; */  /* child property */
}


#item1{ background-color: crimson; }
#item2{ 
    background-color: #dcd914; 
    /* flex-grow: 1; */
    flex-shrink: 1;
}
#item3{ 
    background-color: rgb(20, 213, 220); 
    /* flex-grow: 2; */
    flex-shrink: 2;
    align-self: center;
}
#item4{ background-color: rgb(220, 20, 210); }
#item5{ 
    background-color: rgb(8, 99, 9); 
    align-self: flex-end ;
}