p::first-letter{
    font-size: 60px;
    background-color: aqua;
}


p::first-line{
    background-color: beige;
    font-size: 50px;
}

p::before{
    content: '\1f62b'; /*unicode or entity code*/
}

p::after{
content: 'hi i am samarth';
}