<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="/comments" method="POST">

        <label for="naam">Username</label>
        <input type="text" name="username" id="naam">


        <label for="content">Comment</label>
        <textarea name="comment" id="content" cols="30" rows="10"></textarea>

        <button type="submit">Add comment</button>

    </form>

</body>
</html>