<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>showing a paerticular product</h1>

    <div>

        <h1><%=foundComment.id%></h1>
        <h2><%=foundComment.username%></h2>
        <p><%=foundComment.comment%></p>
    </div>
</body>
</html>