*{
    padding: 0;
    margin: 0px;
}

section{
    margin: 20px;
    border: 1px solid red;
}

div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}



#static #middle{
    position: static;
    top: 5000px;
    left: 5000px
}

#relative #middle{
    position: relative;
    top: 50px;
    bottom: 100px;
    /* left: 50px; */
    /* right: 50px; */
}

