<!-- DRY -->
<!-- header -->
<%- include('./partials/header') %>

    <h1>Horror page</h1>
    <p>Lorem ipsum dolor sit amet.</p>
    
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>

<!-- footer -->
<%- include('./partials/footer') %> 