/* absolute units */
/* p{
    font-size: 40px;
} */

/* relative */

/* % -> parent */ 
/* section{
    width: 500px;
    height: 500px;
    background-color: rgb(224, 177, 115);
}

div{
    width: 50%;
    height: 50%;
    background-color: blueviolet;
} */

/* em -> parent */
/* rem -> root */
/* ul>li{
    font-size: 2em;
    font-size: 3rem;

} */

/* vw -> view width & vh- > view height */
*{
    padding: 0;
    margin: 0;
}

div{
    background-color: chartreuse;
    width: 50vw;
    height: 50vh;
}





