<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>New Product Form</h1>

    <form action="/products" method="POST">
        <div>
            <label for="naam">Name: </label>
            <input type="text" name="name" id="naam">
        </div>
        <div>
            <label for="pic">Image: </label>
            <input type="text" name="img" id="pic">
        </div>
        <div>
            <label for="daam">Price: </label>
            <input type="text" name="price" id="daam">
        </div>
        <div>
            <label for="des">Description: </label>
           <textarea name="desc" id="des" rows="3"></textarea>
        </div>
        <button type="submit">Add Product</button>
    </form>
</body>
</html>