*{
    margin: 0;
    padding: 0;
}

.parent{
    width: 90vw;
    height: 90vh;
    margin: 20px auto;

    display: grid;
    grid-template-columns: 200px 300px;
    /* grid-template-rows: 100px 100px 100px; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-rows: repeat(3 , 1fr);

    grid-auto-flow: row;
    /* grid-auto-flow: column; */

    grid-auto-rows: 100px;
    /* grid-auto-columns: 300px; */

}

.child{
    border: 2px solid blue;
    background-color: lightgreen;
    /* color: lightgreen; */
}


/* #item-3{
    background-color: aqua;
    grid-column: span 2;
    grid-row: span 2;
} */
/* #item-3{
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end:  3;
    grid-row-start: 2;
    grid-row-end:4 ;
} */

#item-3{
    background-color: aqua;
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

